<table class='table table-bordered table-striped table-light table-hover table-sm'>
  <thead>
    <tr>
      <th>ID</th>
      <th>申請日</th>
      <th>申請者</th>
      <th>消化日数</th>
      <th>許可</th>
      <th>却下</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <th>2018/12/31</th>
      <th>testuser</th>
      <th>20</th>
      <th><%= button_tag '許可', name:'btn-approve', class:'btn btn-success' %></th>
      <th><%= button_tag '却下', name:'btn-dismiss', class:'btn btn-danger'%></th>
    </tr>
  </tbody>
</table>