<table class='table table-bordered table-striped table-light table-hover table-sm'>
  <thead>
    <tr>
      <th>申請日</th>
      <th>消化日数</th>
      <th>申請状況</th>
    </tr>
  </thead>
  <tbody>
    <% @my_vacations.each do |row| %>
      <tr>
        <th><%= row.get_start_date %></th>
        <th><%= row.get_days %></th>
        <th><%= application_status[row.status.to_sym] if row.status %></th>
      </tr>
    <% end %>
  </tbody>
</table>