<html>
  <body>
    <div class="container">
      <div class="main">
        <div class="login-form">
          <h1>ログイン</h1>
          <%= form_with model: @user, url: "/sessions/create",method: :post, local: true do |form| %>
            <%= render :partial => "input", :locals => {f: form}%>
            <%= form.submit "新規登録" , class: "btn btn-default" %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>