<% if @user && @user.errors.messages.map{ |err| err[1] != [] }.include?(true) %>
  <div class='error_message'>
    <% @user.errors.full_messages.each do |message|  %>
    <%= message %>
    <% end %>
  </div>
<% elsif @error_message %>
  <div class='error_message'>
    <%= @error_message %>
  </div>
<% end %>
