<%= link_to :controller => controller_name , :action => action_name , class: "row" do %>
  <p class="col-sm-9">
    <%= label :page , tabname %>
  </p>
  <span class="col-sm-3 sidebar-badge">
    <%= label :page, showcount %>
  </span>
<% end %>