<table class='table table-hover table-sm'>
  <thead>
    <th>氏名</th>
    <th>権限</th>
    <th>削除</th>
  </thead>
  <tbody>
    <td>ユーザーA</td>
    <td>社員</td>
    <td><%=button_tag '削除' ,name: 'user_del', class:'btn btn-danger' %></td>
  </tbody>
</table>