<div class='main item'> email
  <%= f.email_field :email %>
</div>
<div class='main item'>password
  <%= f.password_field :password %>
</div>
<% if @error_message %>
  <div class='error_message'>
    <%= @error_message %>
  </div>
<% end %>