<h1>勤怠状況一覧</h1>
<div class="search">
  <div class="search-year">
    <div id="date"></div>
  </div>
  <div id="test">通ってるか確かめる用のタグ</div>
ここに検索条件とかかく
</div>
<div class="attendance-table">
一覧テーブル書く
<div>
