@import "./application";

h1{
  font-size: 30px;
}

.day_of_week_0, .day_of_week_holiday {
  background-color: #f5c6cb;
}
.day_of_week_1, .day_of_week_2,
.day_of_week_3, .day_of_week_4, .day_of_week_5{
  background-color: rgb(235, 235, 235);

}
.day_of_week_6{
  background-color: #bee5eb;
}
.search{
  margin-top: 50px;
}
.search-year{
  flex-wrap: wrap;
  display: inline-block;
  width: 100%;
}
#pulldown{
  display: inline;
  flex-basis: 100%
}
.search-rightend, {
  float: right;
}
.inputtime, .attend-save{
  float: right;
  display: inline;
}
.table .save-button {
  float: left;
  margin: 10px;
}
.btn-success {
  margin-left: 5px;
  margin-right: 5px;
}
