@import "./application";

body{
  font-size: 15px
}
h1{
  font-size: 25px;
}

.search{
  margin-top: 50px;
}
.search-year{
  flex-wrap: wrap;
  display: inline-block;
  width: 100%;
}
#pulldown{
  display: inline;
  flex-basis: 100%
}
.search-rightend, {
  float: right;
}
.inputtime, .attend-save{
  float: right;
  display: inline;
}
.table .save-button {
  float: left;
  margin: 10px;
}
