@import "./application";

.search-user{
  line-height: 45px;
}

.day_of_week_0, .day_of_week_holiday {
  background-color: #eccccf;
}
.day_of_week_1, .day_of_week_2,
.day_of_week_3, .day_of_week_4, .day_of_week_5{
  background-color: rgb(235, 235, 235);
}
.day_of_week_6 {
  background-color: #b2f3f5;
}
.day_of_week_approved {
  background-color: #b5f7b8;
}
.day_of_week_not_approved {
  background-color: #f8ff95;
}


.search{
  margin-top: 50px;
}
.search-year{
  flex-wrap: wrap;
  display: inline-block;
  width: 100%;
}

.pulldown{
  display: inline;
  flex-basis: 100%;
  line-height: 45px;
}
.search-rightend, .inputtime, .output {
  float: right;
}
.table {
  float: left;
  margin: 10px;
}

.table .table {
  background-color: #f8f9fa;
}
.btn-success {
  margin-left: 5px;
  margin-right: 5px;
}
