@import "application";

h1 {
    color: black;
    font-size: 30px;
    margin: 20px auto 0;
}

.main {
  // height: 100%;
  max-width: 500px;
  display: block;
  border-radius: 10%;
  background-color: aquamarine;  
    margin: 50px auto 0;
    padding: 10px;
    text-align: center;
    .item {
      margin:5px auto;
      max-width: 400px;
      border-radius: 0%;
      font-size: 20px;
    }
}
