@import "bootstrap";

html,
body {
  position: relative;
  min-height: 100%;
  height: 100%;
}
body {
  font-size: 20px;
  line-height: 1.4;
  background-color: #F7F7F7;
}
.row{
  height: 100%;
}
// .caret {
//   display: inline-block;
//   width: 0;
//   height: 0;
//   margin-left: 2px;
//   vertical-align: middle;
// }

.wrapper-login {
  top: 0px;
  position: relative;
  left: 280px;
  display: table-cell;
  vertical-align: top;
}
.wrapper-logout {
  top: 0px;
  position: relative;
  vertical-align: top;
}

.sidebar {
  position: fixed;
  display: block;
  min-height: 100%;
  // height: calc(100% - 250px);
  background-color: black;
  min-width: 250px;
  max-width: 250px;
  .sidebar-header {
    position: relative;
    height: 157.5px;
    margin-bottom: 8px;
  }
  .sidebar-header.header-cover {
    background-color: aqua;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 30px;
  }
 .sidebar-image img {
  width: 54px;
  height: 54px;
  margin: 16px;
  border-radius: 50%;
  }
}
.sidebar-menu{
  // background-color:black;
  height: 100%;
  // height: calc(100% - 250px);
}

.sidebar-nav {
  font-size: 15px;
  vertical-align: middle;
  // margin: 30px 30px;
}

.sidebar-nav-item{
  background-color: #F7F7F7;
  border-radius: 10%;
}
.user-profile{
  top: 40px;
  left: 100px;
  font-size: 10px;
  text-align: left;
  vertical-align: middle;
  position: absolute;
  padding: 0px 0px;
 .profile-profile ,.profile-username,.profile-userid,.profile-email{
    text-align: left;
    // position: absolute;

    // padding: 0px 0px 0px 80px;
  }
} 

.sidebar-nav a{
  background-color: #F7F7F7;
  box-sizing: border-box;
  position: relative;
  margin: 5px 15px;
  height: 50px;
  width: 200px;
  float: left;
}
.sidebar-nav a p{
  left: 30px;
  position: relative;
  margin: 15px 0px;
}
.sidebar-nav a span{
  left: 150px;
  position: absolute;
  margin: 15px 0px;
  top: 0px;
}
a:hover{
  color: black;
  background-color: gray;
}

// フラッシュ 
.flash {
  top: 0px;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  z-index: 10;
  width: 100%;
  height: 30px;
  vertical-align: middle;
}

// エラーメッセージ
.error_message{
  color: red;
}
.wrapper{
  padding: 0px;
  display: block;
}