<h1>ユーザー編集</h1>
<div class='user_edit'>
  <%= form_with model:@user, url: user_management_path(@user.id), method: 'patch', local: true  do |f| %>
    <%= render :partial => "templates/user_edit" , :locals => {form: f,user: @user} %>
    <%= f.submit '編集', class: 'btn btn-success' %>
  <%end%>
</div>