<h1><%= t '.title' %></h1>
<div class='user_edit'>
  <%= form_with model:@user, url: user_management_path(@user.id), method: 'patch', local: true  do |f| %>
    <%= render :partial => "templates/user_edit" , :locals => {form: f,user: @user} %>
    <%= f.submit(t('.edit'), class: 'btn btn-success')%>
  <%end%>
</div>