<h1><%= t '.title' %></h1>
  <%= form_with url: new_user_management_path, method: 'get', local: true do |f| %>
    <%= button_tag t('.button'), name: 'user_new', class: 'btn btn-info' %>
  <%end%>
<%= render :partial => "user_managements/user_management_table"%>
