<h1><%= t '.title' %></h1>
<div class='user_new'>
  <%= form_with model:@user, url: user_managements_path, method: 'post', local: true  do |f| %>
    <%= render :partial => "templates/user_edit" , :locals => {form: f,user: @user} %>
    <%= f.submit t('.button'), class: 'btn btn-success' %>
  <%end%>
</div>